<template>
  <div class="about">
    <h1>About</h1>

    <p>
      Ghost Live was born out of a distaste for hosted services like Twitch, and frustrations with current solutions
      such as <a href="https://owncast.online/">OwnCast</a>. It aims to provide sub-second latency, backwards
      compatability, and federated chat.
    </p>

    <h2>Technology Stack</h2>
    <dl>
      <dt><a href="https://www.ovenmediaengine.com/ome">OvenMediaEngine</a></dt>
      <dd>
        This does the bulk of the work taking the streams in and pushing them out to clients, including transcoding
        for different clients.
      </dd>

      <dt><a href="https://www.ovenmediaengine.com/ovenplayer">OvenPlayer</a></dt>
      <dd>
        The video client is also provided by OvenMediaEngine and integrateds with DASH and HLS library to provide
        backwards compatibility. It preferentially tries near real time WebRTC transport first, and will then fallback
        to one of the others if that isn't available.
      </dd>

      <dt><a href="https://matrix.org/">Matrix</a></dt>
      <dd>
        The chat system is built upon the federated matrix protocol. This means it is technically possible to join a
        stream from any client and with an account on any homeserver.
      </dd>

      <dt><a href="https://cactus.chat/">CactusChat</a></dt>
      <dd>
        Whilst Matrix powers the chat, it is non trivial to use your own client if you aren't already setup for that. To
        make chatting on a stream easy for guests, a very simple client is provided which deals with guest registrations
        and allows simple text messaging.
      </dd>
    </dl>
  </div>
</template>
