<template>
  <div class="fullscreen">
    <OvenPlayer v-if="store.streamLive" class="stream " :stream="stream"></OvenPlayer>
    <div class="offline" v-if="!store.streamLive">
      <img src="@/assets/stream-offline.svg" alt="Stream Offline"/>
    </div>
  </div>
</template>

<script setup lang="ts">
import OvenPlayer from "@/components/OvenPlayer.vue";
import {useStore} from "@/store";
import {useRouter} from "vue-router";
import {onMounted} from "vue";

const store = useStore();
const router = useRouter();
const routeParams = router.currentRoute.value.params
const stream = `${routeParams.stream ? routeParams.stream : 'ghost'}`;

onMounted(() => {
  store.watchTitle(stream);
  store.watchLive(stream);
})
</script>

<style lang="scss" scoped>
@import "@picocss/pico/scss/themes/default";

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);

  .stream {
    width: auto;
    max-height: 100vh;
  }
}

</style>
