<template>
  <div class="row">
    <div class="col-xs-12 col-lg-8">
      <OvenPlayer v-if="store.streamLive" class="stream " :stream="stream"></OvenPlayer>
      <div class="offline" v-if="!store.streamLive">
        <img src="@/assets/stream-offline.svg" alt="Stream Offline"/>
      </div>
    </div>
    <CactusChat class="col-xs-12 col-lg-4" :stream="stream"></CactusChat>
  </div>
</template>

<script setup lang="ts">
import {onMounted} from "vue";
import {useStore} from "@/store";
import {useRouter} from "vue-router";
import OvenPlayer from "@/components/OvenPlayer.vue";
import CactusChat from "@/components/CactusChat.vue";

const store = useStore();
const router = useRouter();
const routeParams = router.currentRoute.value.params

const stream = `${routeParams.stream ? routeParams.stream : 'ghost'}`;

onMounted(() => {
  store.streamTitle = `${stream.substring(0, 1).toUpperCase()}${stream.substring(1)} Live`;
  store.watchTitle(stream);
  store.watchLive(stream);
})
</script>

<style lang="scss" scoped>
@import "src/assets/_colours";
@import "@picocss/pico/scss/variables";

.row {
  height: 100%;
  max-height: 100vh;
  flex: 1 1 auto;
  overflow: auto;

  .stream {
    width: auto;
    max-height: 100vh;
  }
}

.offline {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  img {
    max-height: 100%;
    max-width: 100%;
  }
}
</style>
