<template>
  <div class="chat-wrapper">
    <div ref="chat">
      <span>Comments Loading</span>
    </div>
  </div>
</template>

<script setup lang="ts">
// eslint-disable-next-line @typescript-eslint/ban-ts-comment
//@ts-ignore
import {Elm} from "cactus-client/src/Main.elm";
import {onMounted, ref} from "vue";

const props = defineProps({
  stream: String,
})
const chat = ref(null)

onMounted(() => {
  Elm.Main.init({
    node: chat.value,
    flags: {
      defaultHomeserverUrl: "https://matrix.itsg.host",
      serverName: "itsg.host",
      siteName: "live.itsg.host",
      commentSectionId: props.stream,
      loginEnabled: false,
      updateInterval: 1,
    }
  })
})
</script>

<style lang="scss">
@import url("https://latest.cactus.chat/style.css");

.chat-wrapper {
  height: 100%;
  max-height: 100%;
}

.cactus-container {
  height: 100%;
  flex-direction: column-reverse;

  .cactus-editor {

    .cactus-editor-textarea {
      min-height: 1.5rem;
      height: auto;
      max-height: 5rem;
      resize: none;

      &::placeholder {
        text-align: left;
        font-size: inherit;
        line-height: inherit;
      }
    }

    .cactus-editor-buttons > *, .cactus-button {
      color: var(--cactus-button-text-color);
      display: inline-flex;
      width: fit-content;
    }
  }

  .cactus-comments-container {
    flex: 1 1 auto;
    overflow: auto;
    flex-direction: column-reverse;

    .cactus-comments-list {
      flex-direction: column-reverse;
    }
  }
}
</style>
