<template>
  <div class="center-md">
      <div id="ovenplayer"></div>
  </div>
</template>

<script setup lang="ts">
import "dashjs";
import Hls from 'hls.js';
import * as OP from "ovenplayer";
import {onMounted, onUpdated} from "vue";

const props = defineProps({
  stream: String,
});
let player: any;
const app = import.meta.env.VITE_APP_OVEN_APP as string

onMounted(() => {
  (window as any).Hls = Hls
  player = OP.create(document.getElementById("ovenplayer"),
      {
        sources: [
          {
            label: 'Real Time',
            // Set the type to 'webrtc'
            type: 'webrtc',
            // Set the file to WebRTC Signaling URL with OvenMediaEngine
            file: `wss://${app}/${props.stream}/abr`
          },
          {
            label: 'LLHLS',
            // Set the type to 'dash'
            type: 'dash',
            file: `https://${app}/${props.stream}/abr.m3u8`
          },
        ],
        image: `https://${app}/${props.stream}/thumb.png`
      }
  )
})

onUpdated(() => {
  player;
})
</script>

<style lang="scss" scoped>

</style>
