<template>
  <nav class="row middle-xs">
    <h1 class="col-xs-11 stream-title">{{ store.streamTitle }}</h1>
    <router-link class="col-xs-1" to="/about">About</router-link>
  </nav>
  <router-view/>
</template>

<script setup lang="ts">
import {useStore} from "@/store";
import {onMounted} from "vue";

const store = useStore();

onMounted(() => {
  store.$subscribe(() => {
    document.title = store.streamTitle;
  })
})
</script>

<style lang="scss">
@import "@/assets/_colours";
@import "@picocss/pico/scss/pico";
@import "flexboxgrid/dist/flexboxgrid";

@font-face {
  font-family: "ZXX Noise";
  src: url("./assets/fonts/zxx-noise.eot") format("eot");
  src: url("./assets/fonts/zxx-noise.ttf") format("truetype");
  src: url("./assets/fonts/zxx-noise.woff") format("woff");
}

.stream-title {
  font-family: "ZXX Noise", "Arial";
  font-weight: 400;
  text-align: left;
  margin-bottom: 0;


  @media only screen and (prefers-color-scheme: light) {
    color: $brand-colour;
  }

  @media only screen and (prefers-color-scheme: dark) {
    -webkit-text-stroke: 0.02rem $brand-colour;
    text-shadow: 0.2rem 0.2rem 0 $brand-colour,
    -0.2rem -0.2rem 0 $brand-colour,
    0.2rem -0.2rem 0 $brand-colour,
    -0.2rem 0.2rem 0 $brand-colour,
    0.2rem 0.2rem 0 $brand-colour,
    0.25rem 0.25rem 1.5rem rgba($brand-colour, 0.5);
  }
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100vh;
  display: flex;
  flex-direction: column;

  @extend .container-fluid;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}
</style>
